.signup_bg_container {
    background-image: url("../images/signup_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.signup_form {
    width: 90%;
    margin: 0 auto;
}